<!DOCTYPE html> 
<html> 
  <head> 
    <title>CapTransInfo</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css" />
    <link rel="stylesheet" href="/static/app.css" />
    <link rel="apple-touch-icon" href="/static/icons/touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/static/icons/touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/icons/touch-icon-iphone4.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="/static/app.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
 </head> 
  <body id="{% block bodyid %}{% endblock %}" class="no-ellipses"> 
    {% block body %}
    {% endblock %}
  </body>
</html>

